* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(255, 168, 212);
  
}

.person{
  background: rgb(223, 5, 139);
  color: rgb(66, 2, 56);
  width: 17rem;
  padding: 2rem 1rem 0;
  margin: 3rem auto;
  border-radius: 2rem  5rem 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
.person img{
  border-radius: 50%;
  border-radius: 0.5rem solid rgb(250, 75, 183);
}
.person h4{
  text-transform: uppercase;
  margin-top: 0rem 0;
  letter-spacing: 0.15rem;
  color: rgb(170, 13, 157);
  font-family: cursive;
}
.person:hover{
  box-shadow: 2px 5px 10px rgb(8, 128, 226);
}
.person-list{
  display: flex;
  
}
img{
  height: 55%;
  width: 55%;
}

@media
 screen and (max-width: 768px) {
   .person-list{
     display: block;
   }
   
  
  }

